# dependencies
# node_modules/
# **/node_modules/

# builds / caches
# dist/
# build/
# coverage/
# .cache/
# .parcel-cache/
# .pnpm-store/
# .turbo/
# .next/
# .vercel/

# env & local
# .env
# .env.*
.DS_Store
# .vscode/
